.main{
   width: 100%;
   height: 1000px;
   background: #bfc2c7;
}
.new{
    width: 100%;
    height: 340px;
    margin-top: 40px;
    margin-left: 0px;
    background: #bfc2c7;
}
.img1{
    width: 100%;
height: 685px;
image-orientation: from-image;
}
body{
    margin: 0px;
}